<article>
  <h3>  Class e Style Binding</h3>
  <div>
    Selecione uma classe:
    <select #classe (change)="0">
      <option value="alert-success"></option>
      <option value="alert-info"></option>
      <option value="alert-warning"></option>
      <option value="alert-danger"></option>
    </select>

    <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'"></div>
    <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'"></div>
    <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'"></div>
    <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'"></div>

    <div class="alert-success"></div>
    <div class="alert-info"></div>
    <div class="alert-warning"></div>
    <div class="alert-danger"></div>
  </div>
</article>
